{% extends "menu.html" %}

{% block pagename %}
    <h1>Авторизация пользователя</h1>
{% endblock %}

{% block page %}
    <div class='menu'>
        <blockquote><a href="/">Главная страница</a></blockquote>
        <blockquote><a href="/games/">Игры</a> </blockquote>
        <blockquote><a href="/registration/">Регистрация</a> </blockquote>
        {% if current_user.is_authenticated %}
            {% if current_user.role == "Admin" %}
                <blockquote><a href="/admin/">Админ панель</a></blockquote>
            {% else %}
            {% endif %}
        {% else %}
        {% endif %}
    </div>
{% endblock %}

{% block page %}
    <div class="menu">
    {% if current_user.is_authenticated %}
        <h2>Welcome!</h2>
    {% else %}
        {{ error }}
        <form method="POST">
            <div class="input-block">
                <blockquote><label for="username">Логин</label>
                <input id="username" type="text" name="username"></blockquote>
            </div>

            <div class="input-block">
                <blockquote><label for="password">Пароль</label>
                <input id="password" type="text" name="password"></blockquote>
            </div>

            <h1>{{ context }}</h1>

            <div class="button_block">
                <blockquote><button>Войти</button></blockquote>
            </div>
                </form>
    </div>
    {% endif %}
{% endblock %}